* {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    margin: 0%;
    background-color: #120323;
    background-size: cover;
    gap: 1rem;
    color: #97bf04;
    text-align: center;
}

.header-container img {
    width: 100px;
    height: auto;
}

#container img {
    border: solid 5px #d9043d;
    width: 100%;
}

body {
    margin: auto;
}

aside {
    background-color: #97bf04;
    padding: 1em;
    margin-bottom: 1em;
}

footer {
    padding: 1em;
    color: white;
    text-align: center;
    background-color: #d9043d
}

@media screen and (max-width: 768px) {
    header {
        background-color:#120323;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 75%;
    }
    .header-container img {
        width: 100px;
        height: auto;
    }
}

@media screen and (max-width: 1000px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 100%;
        padding: 2em;
    }
    #container img {
        display: flex;
        width: 200px;
        height: auto;
    }
    main {
        display: flex;
        gap: 10px;
        flex: 1;
    }
    main, #container img {
        flex-direction: row;
        flex-flow: row wrap;
        justify-content: space-around;
    }
}

