* {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    background-color: #120323;
    background-size: cover;
    gap: 1rem;
    color: #97bf04;
    text-align: center;
}

#header-container img {
    width: 200px;
    height: 200px;
}

#container img {
    border: solid 5px #d9043d;
    width: 100%;
}

aside {
    background-color: #97bf04;
}

footer {
    background-color: #d9043d
}

